# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (PostgreSQL Docker)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password_database_bebas_sesuaikan_dengan_password_postgresql_mu
DB_NAME=axon_sales_try
DB_PORT=5432

# Frontend Client URL (for CORS)
CLIENT_URL=http://localhost:5173

# Prisma Configuration
# Ganti 'password_database_bebas' dengan password yang kamu tulis di DB_PASSWORD atas
DATABASE_URL="postgresql://postgres:password_database_bebas@localhost:5432/axon_sales_try?schema=public"